*.bin
.idea/*
.idea/**
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.iml
*.dex
*.MF
*.class
bin/
gen/
/*/build/
/*/out/
proguard/
*.log
/out/production/
*/out/production/

/**/rebel.xml
/user/

